---
layout: default
hero_image: "/assets/images/test-bg-2"
hero_image_title: The Gift That Keeps On Giving
hero_image_description: Give someone the special gift of a live workout
gift_one_background_image: "/assets/images/gift3.jpg"
gift_one_amount: 15
gift_one_features:
- 1 Virtual Training Session
gift_two_background_image: "/assets/images/gift.jpg"
gift_two_amount: 45
gift_two_features:
- 3 Virtual Training Sessions
gift_three_background_image: "/assets/images/watch-christmas.jpg"
gift_three_amount: 100
gift_three_features:
- 5 Virtual Training Sessions
- 1 UBQFIT Watch

---
<div class="containers">
  <div class="download-app appinstall-view" id="download-app">
    <div class="badge-wrapper">
      <div class="width-100 top-banner">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/app-dash-view.png">
      </div>
      <div class="appinstall-details">
        <div class="width-100 bottom-logo">
          <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo.svg" title="Logo" alt="Logo" width="125px"
            height="35px">
          <p>
            For the best experience, download the application.
          </p>
        </div>
        <div class="width-100 bottom-app">
          <a class="app-badge"
            href='https://play.google.com/store/apps/details?id=com.ubqfitinc.ubqfit&hl=en_US&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
              src="{{ site.url }}{{ site.baseurl }}/assets/images/googleplay.png"></a>
          <a class="app-badge" href="https://apps.apple.com/us/app/ubqfit/id1441253233" target="_blank"
            rel="noreferrer noopener"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/apple.png"></a>
        </div>
      </div>
    </div>
  </div>

  <div class="width-100">

    <div class="padding-0 opensans" style="background-color:white;">

      <div class="row">
        <div class="home-mainpage">
          <div class="inner-page">
            <div class="width-100 relative">
              <div class="row margin-0 relative">
                <div class="width-100 home-banner heroContainer">
                  <div class="width-100">
                    <!--<video class="heroVideo portrait" poster="{{ site.url }}{{ site.baseurl }}/assets/images/home-banner.png" width="100%" height="100%" muted playsinline preload autoplay loop>
                          <source src="{{ site.url }}{{ site.baseurl }}/assets/images/video/loin_porit.mp4" type="video/mp4" class="portrait">
                          Your browser does not support the video tag.
                      </video>-->
                    <!-- <div class="overlay"
                      style="background-color:rgba(0,0,0,0.35);position:absolute;top:0;right:0;bottom:0;left:0;z-index:5;">
                    </div> -->
                    <img class="heroVideo" src="{{ site.url }}{{ site.baseurl }}{{ page.hero_image }}"
                      alt="Image of Christmas" />

                    <div class="banner-tittle">
                      <h1>
                        {{ page.hero_image_title }}
                      </h1>
                      <h2>
                        {{ page.hero_image_description }}
                      </h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="width-100">
              <section id="plans" class="pricingsection">
                <div class="width-100">


                  <!-- item -->
                  <div class="pricing-pannel text-center relative">
                    <div class="panel panel-danger panel-pricing"
                      style="background-color: white;border:1px solid #AAAAAA; border-radius:8px;">
                      <div class="panel-heading"
                        style="background-image: url('{{ site.url }}{{ site.baseurl }}{{ page.gift_one_background_image }}');background-size:cover;background-position:center center; min-height:200px;">

                        <!-- <h4 style="font-size:3rem;">🎄🎁</h4> -->
                        <!-- <p style="font-size:1.5rem;">$15</p> -->
                      </div>
                      <!-- <img class="pricing-mobile-view" src="{{ site.url }}{{ site.baseurl }}/assets/images/contact-bg.png" width="100%"> -->
                      <div class="panel-body " style="min-height:400px;">
                        <p
                          style="font-size:1.5rem; z-index:10; position:relative;color:white;margin:0;color:black;z-index:1;">
                          ${{ page.gift_one_amount }}</p>
                        <ul class="list-group ">
                          {% for feature in page.gift_one_features %}
                            <li class="list-group-item tick-price" style="color:black;"> {{ feature }}</li>
                          {% endfor %}
                        </ul>
                        <div class="paypal-button" id="paypal-button-container-1"
                          style="width:90%;color:white;z-index:1;">
                        </div>
                        <script
                          src="https://www.paypal.com/sdk/js?client-id=AZJZPrL4L-BscQSYLMUiv_p4vdMYhz6eqV__9ycxDkKMpGK-uVXJzy0fkUa2GybJUOZtuYqp8mn9uoqy&currency=USD"
                          data-sdk-integration-source="button-factory"></script>
                        <script>
                          paypal.Buttons({
                            style: {
                              shape: 'pill',
                              color: 'white',
                              layout: 'vertical',
                              label: 'paypal',

                            },
                            createOrder: function (data, actions) {
                              return actions.order.create({
                                purchase_units: [{
                                  amount: {
                                    value: '15'
                                  }
                                }]
                              });
                            },
                            onApprove: function (data, actions) {
                              return actions.order.capture().then(function (details) {
                                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                              });
                            }
                          }).render('#paypal-button-container-1');
                        </script>
                      </div>


                    </div>
                  </div>
                  <!-- /item -->
                  <!-- item -->
                  <div class="pricing-pannel text-center relative">
                    <div class="panel panel-danger panel-pricing"
                      style="background-color: white;border:1px solid #AAAAAA; border-radius:8px;">
                      <div class="panel-heading"
                        style="background-image: url('{{ site.url }}{{ site.baseurl }}{{ page.gift_two_background_image }}');background-size:cover;background-position:center center; min-height:200px;">

                        <!-- <h4 style="font-size:3rem;">🎄🎁🎁🎁</h4> -->
                        <!-- <p style="font-size:1.5rem;">$45</p> -->
                      </div>
                      <!-- <img class="pricing-mobile-view" src="{{ site.url }}{{ site.baseurl }}/assets/images/contact-bg.png" width="100%"> -->
                      <div class="panel-body " style="min-height:400px;">
                        <p
                          style="font-size:1.5rem; z-index:10; position:relative;color:white;margin:0;color:black;z-index:1;">
                          ${{ page.gift_two_amount }}</p>
                        <ul class="list-group ">
                          {% for feature in page.gift_two_features %}
                            <li class="list-group-item tick-price" style="color:black;"> {{ feature }}</li>
                          {% endfor %}
                        </ul>
                        <div class="paypal-button" id="paypal-button-container-2"
                          style="width:90%;color:white;z-index:1;">
                        </div>
                        <script>
                          paypal.Buttons({
                            style: {
                              shape: 'pill',
                              color: 'white',
                              layout: 'vertical',
                              label: 'paypal',

                            },
                            createOrder: function (data, actions) {
                              return actions.order.create({
                                purchase_units: [{
                                  amount: {
                                    value: '45'
                                  }
                                }]
                              });
                            },
                            onApprove: function (data, actions) {
                              return actions.order.capture().then(function (details) {
                                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                              });
                            }
                          }).render('#paypal-button-container-2');
                        </script>
                      </div>
                    </div>
                  </div>
                  <!-- /item -->
                  <!-- item -->
                  <div class="pricing-pannel text-center relative">
                    <div class="panel panel-danger panel-pricing"
                      style="background-color: white;border:1px solid #AAAAAA; border-radius:8px;">
                      <div class="panel-heading"
                        style="background-image: url('{{ site.url }}{{ site.baseurl }}{{ page.gift_three_background_image }}');background-size:cover;background-position:center center; min-height:200px;">
                        <!-- <h4 style="font-size:3rem; z-index:10; position:relative;">🎄🎁🎁🎁🎁</h4> -->
                        <!-- <p style="font-size:1.5rem; z-index:10; position:relative;">$100</p> -->
                      </div>
                      <!-- <img class="pricing-mobile-view" src="{{ site.url }}{{ site.baseurl }}/assets/images/contact-bg.png" width="100%"> -->
                      <div class="panel-body " style="min-height:400px;">
                        <p
                          style="font-size:1.5rem; z-index:10; position:relative;color:white;margin:0;color:black;z-index:1;">
                          ${{ page.gift_three_amount }}</p>
                        <ul class="list-group ">
                          {% for feature in page.gift_three_features %}
                            <li class="list-group-item tick-price" style="color:black;"> {{ feature }}</li>
                          {% endfor %}
                        </ul>
                        <div class="paypal-button" id="paypal-button-container-3" style="width:90%;z-index:1;"></div>
                        <script>
                          paypal.Buttons({
                            style: {
                              shape: 'pill',
                              color: 'white',
                              layout: 'vertical',
                              label: 'paypal',

                            },
                            createOrder: function (data, actions) {
                              return actions.order.create({
                                purchase_units: [{
                                  amount: {
                                    value: '100'
                                  }
                                }]
                              });
                            },
                            onApprove: function (data, actions) {
                              return actions.order.capture().then(function (details) {
                                alert('Transaction completed by ' + details.payer.name.given_name + '!');
                              });
                            }
                          }).render('#paypal-button-container-3');
                        </script>
                      </div>


                    </div>
                  </div>
                  <!-- /item -->

                </div>
              </section>
              <!-- <section class="pattern-bgsection big-text-section text-center">
                  <h2>What are you waiting for?</h2>

                  <h2> It’s free to watch. No commitments.<br> Choose either public or private. </h2>

                </section> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!--   containers -->

<div class="footer-version">
  <p>
    V 2.1
  </p>
</div>
