<div class="width-100">
    <div class="link-session relative">
        <img src="{{ site.url }}{{ site.baseurl }}/assets/images/screen-bg-1.png" class="link-banner" width="100%"
            height="600px">
        <div class="contact-link">
            <h3>
                Not just fit, UBQFIT.
            </h3>
            <p>
                Download our mobile app and revolutionize your fitness experience.
            </p>
            <div id="textpuff-widget" class="relative margin-bottom-20"></div>
            <div class="app-store">
                <a href="https://apps.apple.com/us/app/ubqfit/id1441253233" target="_blank" rel="noreferrer noopener">
                    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/apple.png">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.ubqfitinc.ubqfit&hl=en_US" target="_blank"
                    rel="noreferrer noopener">
                    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/googleplay.png">
                </a>
            </div>
        </div>
    </div>
    <footer>
        <ul>
            <ul class="socail-icon">
                <h4>
                    Our Social
                </h4>
                <li>
                    <a class="fb" href="https://www.facebook.com/ubqfit" target="_blank" rel="noreferrer">fb</a>
                </li>
                <li>
                    <a class="instagram" href="https://www.instagram.com/ubqfit/" target="_blank"
                        rel="noreferrer">Instagram</a>
                </li>
                <li>
                    <a class="twitter" href="https://twitter.com/ubqfit" target="_blank" rel="noreferrer">twitter</a>
                </li>
                <li>
                    <a class="linkedin" href="https://www.linkedin.com/company/ubqfit/" target="_blank"
                        rel="noreferrer">linkedin</a>
                </li>
            </ul>
        </ul>
        <ul>
            <h4>
                Join Us
            </h4>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/trainer/">Trainers</a>
            </li>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/trainee/">Trainees</a>
            </li>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/testimonials/">Testimonials</a>
            </li>
        </ul>
        <ul>
            <h4>
                About
            </h4>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/ourstory/">Our Story</a>
            </li>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/blog/">Blog</a>
            </li>
        </ul>
        <ul>
            <h4>
                Support
            </h4>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/contactus/">Contact Us</a>
            </li>
            <li>
                <a class="helpdesk" href="javascript:void(0)">Chat</a>
            </li>
        </ul>
    </footer>
    <div class="copy-right">
        <ul>
            <p>
                © 2020 UBQFIT
            </p>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/privacy-policy/">Privacy Policy</a>
            </li>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/terms-conditions/">Terms & Conditions</a>
            </li>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/dmca-policy/">DMCA Policy</a>
            </li>
        </ul>
    </div>
    <div class="help-desk">
    </div>
</div>