<div class="header-top smaller center">
    <p class="desktop-view-signup">
        {{ site.data.announcementBar.announcementText }}<a style="white-space: nowrap;" class="review_btn_prelaunch"
            href="javascript:void(0)"> {{ site.data.announcementBar.buttonText }} </a>
    </p>
    <p class="mobile-view-signup">
        {{ site.data.announcementBar.announcementText }} <a style="white-space: nowrap;" class="review_btn_prelaunchs"
            href="javascript:void(0)" onclick="openAppView()"> {{ site.data.announcementBar.buttonText }} </a>
    </p>
</div>
