<!-- Section -->
<div class="instagram-feed relative">
    <div class="wrapper-to-center">
        <div class="instagram-block">
            <img class="watcher pointer" width="100%"
                src="{{ site.url }}{{ site.baseurl }}/assets/images/home-banner.jpg" alt="Instagram Placeholder">
            <span class="instagram-feed-hover"></span>
        </div>
        <div class="instagram-block">
            <img class="watcher pointer" width="100%"
                src="{{ site.url }}{{ site.baseurl }}/assets/images/tranier-ex.jpg" alt="Instagram Placeholder">
            <span class="instagram-feed-hover"></span>
        </div>
        <div class="instagram-block">
            <img class="watcher pointer" width="100%"
                src="{{ site.url }}{{ site.baseurl }}/assets/images/home-banner.jpg" alt="Instagram Placeholder">
            <span class="instagram-feed-hover"></span>
        </div>
        <div class="instagram-block">
            <img class="watcher pointer" width="100%"
                src="{{ site.url }}{{ site.baseurl }}/assets/images/tranier-ex.jpg" alt="Instagram Placeholder">
            <span class="instagram-feed-hover"></span>
        </div>
        <div class="instagram-block">
            <img class="watcher pointer" width="100%"
                src="{{ site.url }}{{ site.baseurl }}/assets/images/home-banner.jpg" alt="Instagram Placeholder">
            <span class="instagram-feed-hover"></span>
        </div>
    </div>
</div>
