<!-- js Files -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/jquery-3.4.1.min.js"></script>
<script type='text/javascript'>
    (function () {
        var tp = document.createElement('script');
        tp.src = 'https://textpuff.com/textwidget/js/textpuffv2.js';
        tp.type = 'text/javascript';
        tp.async = 'true';
        tp.onload = tp.onreadystatechange = function () {
            var rs = this.readyState;
            if (rs && rs != 'complete' && rs != 'loaded') return;
            try {
                var lng = 'en';
                var sbtp = '';
                verify._vd('b88dbd22ff117ae209becaf4c24950d293b3d2b5', 'tp1', sbtp, lng);
            } catch (e) { }
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(tp, s);
    })();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.14.0/jquery.validate.min.js"></script>
<!-- intel-input phone number validation -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/intl-tel-input/build/js/intlTelInput.js"></script>
<!-- Start of ubqfit Zendesk Widget script -->
<!-- <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=70d2f53e-c4b9-48da-bc27-e5646f666d9d"></script> -->

<!-- End of ubqfit Zendesk Widget script -->
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/custom.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/moment.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/assets/js/services.js"></script>

<script>
    moment().format();
</script>
<script>
    $(function () {
        $('.iframe_close').click(function () {
            $('iframe').attr('src', $('iframe').attr('src'));
        });
    });

    function loadDefaultImage(obj) {
        var id = $(obj).attr('data-id');
        $(obj).addClass('hide');
        $('#' + id).removeClass('hide');
    }


    // URL Redirect

    function goToURL() {
        //window.open('https://ubqfit.com/', '_blank');
    }
</script>


<style type="text/css">
  .src-component-launcher-WidgetLauncher-wrapper {
    display: none;
  }

  .review-error-text {
    color: #fff;
  }

  .error {
    display: block;
    color: #f00;
    font-size: 12px;
  }
</style>
