<header>
    <div class="logo">
        <a href="{{ site.url }}{{ site.baseurl }}/">
            <img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo.svg" title="Logo" alt="Logo" width="125px"
                height="35px">
        </a>
    </div>
    <!-- <div class="menumobileview">
        <a onclick="openAppView()" class="login" href="javascript:void(0)">Log In</a>
        <a class="mobile-view" href="javascript:void(0)">Mobile-view</a>
    </div> -->
    <!-- <div class="menu nav">
        <ul>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/gift.html">Gift Card</a>
            </li>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/trainer.html">Trainer</a>
            </li>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/trainee.html">Trainee</a>
            </li>
            <li class="community">
                <a class="community_menu dropdown-mobile" href="javascript:void(0)">Community</a>
                <ul class="submenu">
                    <li>
                        <a href="{{ site.url }}{{ site.baseurl }}/ourstory.html">Our Story</a>
                    </li>
                    <li>
                        <a href="{{ site.url }}{{ site.baseurl }}/testimonials.html">
                            Testimonials</a>
                    </li>
                    <li>
                        <a href="{{ site.url }}{{ site.baseurl }}/blog.html">
                            Blog</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ site.url }}{{ site.baseurl }}/pricing.html">Pricing</a>
            </li>
            <li class="login web-login">
                <a href="javascript:void(0)">Log In</a>
            </li>
            <li onclick="openAppView()" class="mobile-signup">
                <a href=" javascript:void(0)">Sign Up</a>
            </li>
        </ul>
    </div> -->
    <div class="mobileapp_storeicon">
        <!-- <ul>
          <li class="community">
            <a class="community_menu dropdown-mobile" href="javascript:void(0)">Community</a>
            <ul class="submenu">
              <li>
                <a href="ourstory.html">Our Story</a>
              </li>
              <li>
                <a href="testimonials.html">
                  Testimonials</a>
              </li>
              <li>
                <a href="blog.html">
                  Blog</a>
              </li>
            </ul>
          </li>
        </ul> -->
        <div class="app-store">
            <a href="https://apps.apple.com/us/app/ubqfit/id1441253233" target="_blank" rel="noreferrer noopener">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/apple.png" style="height:25px;width:auto;">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.ubqfitinc.ubqfit&hl=en_US" target="_blank" rel="noreferrer noopener">
                <img src="{{ site.url }}{{ site.baseurl }}/assets/images/googleplay.png" style="height:25px;width:auto;margin-right:0px !important;">
            </a>
        </div>
      </div>
</header>
