body {
    background: #0e0e12 !important;
    font-size: 100%;
    font-family: 'open sans', sans-serif;
    color: #222;
    padding: 0 !important;
    margin: 0;
}

@font-face {
    font-family: Hneue;
    src: url(../fonts/helveticaneue.woff2) format('woff2'), url(../fonts/helveticaneue.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Regular;
    src: url(../fonts/HelveticaNeueLt.ttf) format('truetype'), url(../fonts/HelveticaNeueLt.svg#HelveticaNeueLt) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Hbold;
    src: url(../fonts/helvetica_neu_bold.woff2) format('woff2'), url(../fonts/helvetica_neu_bold.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
p {
    margin: 0;
    padding: 0
}

.width-100 {
    width: 100% !important;
    display: inline-table
}

.width-90 {
    width: 90% !important
}

.width-95 {
    width: 95% !important
}

.width-80 {
    width: 80% !important
}

.width-85 {
    width: 80% !important
}

.width-70 {
    width: 70% !important
}

.width-50 {
    width: 50% !important
}

.margin-0 {
    margin: 0 !important
}

.margin-bottom-0 {
    margin-bottom: 0 !important
}

.margin-top-0 {
    margin-top: 0 !important
}

.margin-bottom-5 {
    margin-bottom: 5px !important
}

.margin-bottom-10 {
    margin-bottom: 10px !important
}

.margin-bottom-15 {
    margin-bottom: 15px !important
}

.margin-bottom-20 {
    margin-bottom: 20px !important
}

.margin-bottom-25 {
    margin-bottom: 25px !important
}

.margin-bottom-30 {
    margin-bottom: 30px !important
}

.margin-bottom-40 {
    margin-bottom: 40px !important
}

.margin-bottom-50 {
    margin-bottom: 50px !important
}

.margin-bottom-60 {
    margin-bottom: 60px !important
}

.margin-bottom-70 {
    margin-bottom: 70px !important
}

.margin-bottom-100 {
    margin-bottom: 100px !important
}

.margin-right-0 {
    margin-right: 0px !important
}

.margin-right-15 {
    margin-right: 15px
}

.padding-0 {
    padding: 0 !important
}

.padding-10 {
    padding: 10px !important
}

.padding-16 {
    padding: 16px !important
}

.padding-20 {
    padding: 20px !important
}

.padding-bottom-50 {
    padding-bottom: 50px !important
}

.padding-bottom-0 {
    padding-bottom: 0 !important
}

:focus,
select:focus {
    outline: 0;
    border: 0
}

.form-control:focus {
    box-shadow: none
}

button:focus {
    outline: 0
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.float-left {
    float: left
}

.float-right {
    float: right
}

.relative {
    position: relative
}

.clear-both {
    clear: both !important
}

.pointer {
    cursor: pointer !important
}

.center,
.text-center {
    text-align: center !important
}

.containers {
    width: 100%;
    display: inline-table
}

.header-top {
    background: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 9
}

.header-top p {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin: 0;
    letter-spacing: 1px;
    color: #0e0e12;
    padding: 4px 16px 4px 16px;
}

.header-top p a {
    color: #df1f26;
    text-decoration: underline;
    padding-left: 3px;
    position: relative
}

.redtxt {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    color: #df1f26
}

.home-banner {
    position: relative;

}

.inner-page .home-banner {
    position: relative;
}

.home-banner img {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
}

.home-signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    /*padding-top: 0;*/
    height: 95vh;
    position: relative;
    box-sizing: border-box;
}

.home-signup h1 {
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 7px
}

.home-signup h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px
}

.home-signup .button,
.home-signup .app-badge-content {
    display: flex;
    justify-content: center;
    flex-direction: row
}

.home-signup .button button {
    width: 250px;
    height: 40px;
    font-size: 18px !important;
    font-weight: 400;
    font-family: Hbold;
    color: #fff;
    float: left;
    margin-right: 10px;
    border-radius: 3px;
    background: 0 0;
    border: 1px solid #df1f26;
    cursor: pointer;
}

.home-signup .button button.red-bg {
    background: #df1f26;
    border: 0
}

.scroll {
    background: url(../images/down-arrow.svg) no-repeat center 35px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fff;
    padding-top: 17px;
    z-index: 2;
    height: 60px;
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
    width: 100px;
    margin: auto;
    text-decoration: none
}

.scroll:hover {
    text-decoration: none;
    color: #fff
}

.home-menu-top header {
    width: 100%;
    background: #0e0e12;
    padding: 0 2%;
    box-sizing: border-box;
}

.tranier-session {
    position: relative;
    border-top: 13px solid #fff;
    /*padding-top: 60px;
    margin-bottom: 80px;*/
    overflow: hidden;
}

.tranier-session img {
    -o-object-fit: cover;
    object-fit: cover
}

.connecting-session h2,
.tranier-session h2 {
    font-size: 38px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #7e7e7e;
    text-align: center;
    margin-bottom: 15px;
    position: relative;
    z-index: 1
}

.traniee-block {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row
}

.tranier-session p {
    font-size: 24px;
    font-family: "Open Sans", sans-serif;
    color: #7e7e7e;
    font-weight: 400;
    margin: 0 auto 30px;
    text-align: center;
    width: 100%
}

.bg-gray {
    background: #f5f5f5
}

.link-session img {
    -o-object-fit: cover;
    object-fit: cover
}

.contact-link {
    width: 35%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-46%);
    margin-right: 10%
}

.contact-link h3 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px
}

.contact-link p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
    width: 76%;
    text-align: left;
    letter-spacing: 1px
}

.form-field input {
    background: #ffffff08;
    border: 0px solid #fff;
    height: 45px;
    border-radius: 4px;
    width: 100%;
    padding: 0 140px 0 20px;
    font-size: 1rem;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 500
}


.form-field button {
    background: #0e0e12;
    border-radius: 4px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 33px;
    border: 0;
    padding: 0 19px;
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 8px;
    border: 1px solid #0e0e12;
    transition: .3s
}

.footer-form-wrapper {
    border: 1px solid #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff11;
    box-sizing: border-box;
    padding: 4px;
}

.footer-form-wrapper input {
    background: none;
    padding: 0 16px 0 16px;
}

.footer-form-wrapper input::-webkit-input-placeholder {
    color: #FFFFFF99;
}

.footer-form-wrapper input::-moz-placeholder {
    color: #FFFFFF99;
}

.footer-form-wrapper input:-ms-input-placeholder {
    color: #FFFFFF99;
}

.footer-form-wrapper input::-ms-input-placeholder {
    color: #FFFFFF99;
}

.footer-form-wrapper input::placeholder {
    color: #FFFFFF99;
}

.footer-form-wrapper button {
    position: relative;
    top: 0;
    white-space: nowrap;
}



.app-store img {
    width: 140px;
    height: 42px;
    -o-object-fit: unset;
    object-fit: unset;
    margin-right: 15px
}

.app-store a {
    text-decoration: none;
}

footer {
    background: #1c1c24;
    width: 100%;
    padding: 60px 0 30px 60px;
    display: inline-table;
    box-sizing: border-box
}

footer ul {
    width: 20%;
    margin-right: 3%;
    float: left
}

footer ul li {
    float: none;
    margin-bottom: 5px
}

footer ul li a {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    text-decoration: none
}

footer ul li a:hover {
    color: #fff;
    text-decoration: none
}

footer ul h4 {
    color: #fff;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 15px
}

.socail-icon {
    display: table;
    width: 100%
}

footer .socail-icon li {
    float: left
}

footer .socail-icon li a {
    width: 20px;
    height: 20px;
    text-indent: -999em;
    display: block;
    margin: 0 25px 0 0
}

footer .socail-icon li a.fb {
    background: url(../images/fb.svg) no-repeat left center
}

footer .socail-icon li a.instagram {
    background: url(../images/instagram.svg) no-repeat left center
}

footer .socail-icon li a.twitter {
    background: url(../images/twitter-icon.svg) no-repeat left center
}

footer .socail-icon li a.linkedin {
    background: url(../images/linkedin.svg) no-repeat left center
}

footer .socail-icon li a.pintrest {
    background: url(../images/pinterest.svg) no-repeat left center
}

.copy-right {
    background: #1c1c24;
    width: 100%;
    display: inline-table;
    padding-top: 10px
}

.copy-right p {
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400
}

.copy-right ul {
    display: flex;
    justify-content: center;
    padding-bottom: 23px
}

.copy-right ul li {
    float: left;
    margin: 0 0 0 25px
}

.copy-right ul li a {
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-decoration: underline
}

.copy-right p {
    margin: 0;
    width: auto;
    float: left
}

.home-banner .overlay {
    background: #000;
    opacity: .6;
}

.home-mainpage {
    position: relative;

}

.home-mainpage img {
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1
}

.banner-title {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    text-align: center;
    left: 0;
    right: 0;
    z-index: 1
}

.banner-title h1 {
    color: #fff;
    font-size: 38px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700
}

.submenu {
    display: none
}

.banner-title p {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 24px
}

.round-gray {
    background: #efe9e9;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: relative;
    left: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.round-gray p {
    width: 75% !important
}

.obj-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.broadcast-details {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translatey(-40%);
    left: 0;
    right: 0
}

.broadcast-details h1 {
    color: #fff;
    margin-bottom: 16px;
    font-size: 38px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700
}

.broadcast-details p {
    font-size: 24px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    width: 100%;
    max-width: 700px;
    padding: auto 1rem;
    box-sizing: border-box;
}

.tran-img {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%
}

.data-center img {
    margin: auto;
    display: block
}

.img-center {
    margin: auto;
    display: block
}

.bg-block {
    background: #2c2c2c
}

.red-bg {
    background: #870509
}

.red-bg .round-gray {
    background: #720408
}

.red-bg .round-gray p {
    font-size: 22px;
    font-weight: 400;
    font-family: "open sans", sans-serif;
    color: #fff
}

.white-bg-shadow {
    background: #fff;
    border-radius: 7px;
    color: #272631;
    font-size: 19px;
    font-weight: 700;
    width: 55%;
    text-align: center;
    padding: 13px;
    box-shadow: 1px 1px 3px 2px #dedede;
    margin: 0 auto;
    position: relative;
    right: 10%
}

.landing-page-menu .dropdown .dropdown-menu {
    background: #0e0e12;
    left: 25px;
    top: 13px
}

.landing-page-menu .dropdown .dropdown-menu a {
    color: #fff;
    font-size: 15px !important;
    font-family: "Open Sans", sans-serif;
    font-weight: 400 !important;
    text-align: left;
    margin: 0 0 0 15px !important
}

.landing-page-menu .dropdown .dropdown-menu a:hover {
    background: 0 0
}

.outside-blog h1 {
    color: #e10600;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    margin-bottom: 0
}

.outside-blog span {
    font-size: 12px;
    color: #737373;
    font-family: "Open Sans", sans-serif;
    font-weight: 400
}

.outside-blog h3 {
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #fff;
    padding-left: 10px;
    margin-bottom: 0
}

.outside-blog p.bblog-textview {
    font-size: 14px !important;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400 !important;
    line-height: 26px !important;
    color: #fff !important;
    max-height: 115px;
    padding: 10px !important;
    margin-bottom: 5px;
    min-height: 115px;
    letter-spacing: .5px
}

.outside-blog .profile-block {
    margin-right: 10px
}

.social-share {
    width: 100%;
    display: inline-table;
    margin: auto auto 8px 8px;
    box-sizing: border-box
}

.social-share ul li {
    float: left
}

.social-share ul li a {
    width: 23px;
    height: 20px;
    display: block;
    text-indent: -999em;
    margin: 0 15px 0 0
}

.social-share h2 {
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px
}

.social-share li a.fb {
    background: url(../images/fb.svg) no-repeat left center
}

.social-share li a.twitter {
    background: url(../images/twitter-icon.svg) no-repeat left center
}

.social-share li a.linkedin {
    background: url(../images/linkedin.svg) no-repeat left center
}

.social-share li a.link {
    background: url(../images/link.svg) no-repeat left center
}

.outside-blog {
    min-height: 490px;
    max-height: 490px
}

.help-desk {
    position: fixed;
    right: 17px;
    z-index: 999;
    bottom: 15px;
    display: none;
}

a.helpdesk {
    display: none;
}

.help-desk span {
    background: url(../images/right_arrow.svg) no-repeat left center;
    text-indent: -999em;
    display: block;
    position: absolute;
    right: -14px;
    width: 24px;
    height: 24px;
    top: 10px;
    transform: rotate(-90deg)
}

.help-desk h1 {
    background: #fff;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    color: #2c2c2c;
    margin: 0;
    padding: 15px 15px;
    border-radius: 8px;
    position: absolute;
    right: 70px;
    width: 200px;
    box-shadow: 0 1px 4px #c7c7c7
}

.support {
    background: #df1f26 url(../images/chat-icon.svg) no-repeat center;
    display: block;
    text-indent: -999em;
    width: 48px;
    border-radius: 4px;
    height: 48px;
    box-shadow: 0 2px 6px transparent;
    color: #fff;
    font-family: "open sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    line-height: 40px;
    text-decoration: none
}

.support:hover {
    color: #fff;
    text-decoration: none
}

.bor-top-7 {
    border-top: 13px solid #fff
}

.bor-bot-7 {
    border-bottom: 13px solid #fff
}

.pad-top-40 {
    padding-top: 40px
}

.inner-page .tranier-session {
    position: relative;
}

.link-session {
    background: #870509
}

.link-session img.link-banner {
    width: 60%;
    height: 100%;
    position: relative;
    top: 6px
}

.contact-link input {
    color: #fff
}

.red-shadow {
    background: #efe9e9;
    width: 225px;
    height: 225px;
    display: block;
    position: absolute;
    border-radius: 0 0 0 250px;
    text-indent: -999em;
    right: 0;
    top: -40px;
    z-index: 0
}

.showDropdown {
    background: url(../images/right-arrow-down.svg) no-repeat 96% center !important
}

.dropdown-submenu {
    display: none
}

.dropdown-submenu.sub-menu-mobile {
    display: block
}

.dropdown-submenu.sub-menu-mobile {
    margin-top: 20px
}

.dropdown-submenu.sub-menu-mobile a {
    margin-bottom: 15px
}

.padding-top-0 {
    padding-top: 0 !important
}

.padding-top-30 {
    padding-top: 30px
}

.other-header-text {
    z-index: 1
}

.pricingsection .container .row .text-center {
    margin-bottom: 20px
}

.padding-top-100 {
    padding-top: 100px
}

.round-gray h1 {
    font-size: 34px;
    color: #fff;
    font-weight: 600;
    font-family: "open sans", sans-serif;
    margin-bottom: 20px
}

.width-half {
    width: 50% !important
}

.tick-price {
    background: url(../images/tick-price.svg) no-repeat left 5px;
    padding: 5px 0 5px 35px !important
}

.terms-container p {
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 27px
}

.our-story h4 {
    font-size: 20px;
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px
}

.our-story p {
    font-size: 18px;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 27px
}

.trending-section {
    width: 85% !important;
    margin: 0 auto;
    display: table !important;
    position: relative
}

.trending-box {
    float: left;
    padding: 0;
    width: 30%;
    margin: 0 5% 4% 0;
    min-height: 225px;
    max-height: 225px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px
}

.trending-box:nth-child(3n+0) {
    margin-right: 0
}

.instagram-feed {
    width: 100%;
    /*width: calc(300px * 10);
    transform: translateX(-50%);*/
    overflow: hidden;
    display: block;
    flex-wrap: wrap;
    height: calc(300px + 64px + 64px);
    background: #FFFFFF;
    color: #ffffff;
    padding: 64px auto;
    overflow-x: scroll;
}

.wrapper-to-center {
    width: calc(300px * 10);
    position: absolute;
    height: 300px;
    left: 0;
    /*transform: translateX(-50%);*/
    background: #ffffff;
    margin: 64px auto 64px auto;
}

.instagram-block {
    width: 300px;
    height: 300px;
    float: left;
    position: relative;
    cursor: pointer
}

.instagram-feed img,
.instagram-feed video {
    width: 300px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover
}

.instagram-feed-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.instagram-block:hover .instagram-feed-hover {
    background: #df1f26 url(../images/instagram-brands.svg) no-repeat center;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: .7
}

@media screen and (max-width: 600px) {

    .instagram-feed {
        width: 100%;
        /*width: calc(300px * 10);
      transform: translateX(-50%);*/
        overflow: hidden;
        display: block;
        flex-wrap: wrap;
        height: calc(175px + 32px + 32px);
        background: #ffffff;
        overflow-x: scroll;
    }

    .wrapper-to-center {
        width: calc(175px * 10);
        position: absolute;
        height: 175px;
        left: 0;
        /*transform: translateX(-50%);*/
        background: #ffffff;
        margin: 32px auto 32px auto;
    }

    .instagram-block {
        width: 175px;
        height: 175px;
        float: left;
        position: relative;
        cursor: pointer
    }

    .instagram-feed img,
    .instagram-feed video {
        width: 175px;
        height: 175px;
        -o-object-fit: cover;
        object-fit: cover
    }

    .instagram-feed-hover {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .instagram-block:hover .instagram-feed-hover {
        background: #df1f26 url(../images/instagram-brands.svg) no-repeat center;
        position: absolute;
        top: 0;
        z-index: 1;
        opacity: .7
    }

}

.home-bottom-40 {
    border-bottom: 40px solid #fff
}

.bor-top-40 {
    border-top: 40px solid #fff
}

footer ul li a:hover {
    text-decoration: none
}

.flex-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 90%
}

.overlay {
    width: 100%;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    background: #000;
    opacity: .5;
    text-indent: -999em;
    z-index: 1
}

.terms-container>p:first-child {
    display: none
}

.max-width-section-800 {
    max-width: 800px;
    margin: 0 auto
}

.lineheightof {
    line-height: 24px
}

.our-story h4 {
    margin-bottom: 15px;
    font-weight: 600
}

.our-story {
    color: #fff;
    margin-bottom: 40px
}

.pricingsection .fa {
    font: normal normal normal 14px/1 FontAwesome !important
}

.site-subheader-button {
    width: 200px;
    height: 56px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    margin-right: 0;
    border-radius: 3px;
    background: #df1f26;
    border: 2px solid #df1f26;
    cursor: pointer;
    transition: .3s
}

.site-subheader-button:hover {
    border: 2px solid #fff
}

.other-header-text {
    position: absolute;
    top: 0;
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center
}

.other-page-header.document-page {
    height: 30vh
}

.other-page-header {
    height: auto;
    overflow: hidden;
    margin-top: 105px !important;
    position: relative;
    margin-bottom: 60px !important
}

.terms-container b {
    font-weight: 600
}

.other-page-header img {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: 100%
}

.other-header-text h1 {
    font-size: 38px;
    color: #fff;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 7px
}

.other-header-text h2 {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 25px
}

.contactus-section {
    margin-bottom: 40px
}

.contactus-form {
    max-width: 800px;
    margin: 125px auto 115px
}

.contactus-form .row {
    width: 100%
}

.contactus-form .forminput-one,
.contactus-form textarea {
    width: 100%;
    background: #27272a;
    border: 0;
    height: 45px;
    margin: 5px 0;
    padding: 5px 16px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    border-radius: 2px;
    font-family: 'open sans', sans-serif;
    font-weight: 400
}

.contactus-form textarea {
    min-height: 120px;
    resize: vertical
}

.contactus-form ::-webkit-input-placeholder {
    color: #a4a4a5;
    opacity: 1
}

.contactus-form ::-moz-placeholder {
    color: #a4a4a5;
    opacity: 1
}

.contactus-form :-ms-input-placeholder {
    color: #a4a4a5;
    opacity: 1
}

.contactus-form ::-ms-input-placeholder {
    color: #a4a4a5;
    opacity: 1
}

.contactus-form ::placeholder {
    color: #a4a4a5;
    opacity: 1
}

.contactus-form :-ms-input-placeholder {
    color: #a4a4a5
}

.contactus-form ::-ms-input-placeholder {
    color: #a4a4a5
}

.contact-sendbtn {
    border: 0;
    padding: 12px 30px;
    background-color: #df1f26;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    text-shadow: none;
    letter-spacing: 1px;
    text-transform: capitalize;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
    border: 2px solid #df1f26;
    margin: 15px auto;
    font-family: 'open sans', sans-serif;
    display: block
}

.contact-sendbtn:hover {
    border: 2px solid #fff
}

.padright10 {
    padding-right: 10px
}

.padleft10 {
    padding-left: 10px
}

.getplanbtn {
    border: 2px solid #df1f26;
    border-radius: 4px;
    color: #df1f26;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    background: 0 0;
    margin: 10px auto;
    cursor: pointer;
    transition: .3s;
    letter-spacing: 1.5px;
    height: 35px
}

.pricingsection {
    margin-bottom: 30px
}

.getplanbtn.active,
.getplanbtn:hover {
    background: #df1f26;
    color: #fff
}

.panel-pricing {
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    background: #272631;
    border-radius: 4px
}

.panel-heading {
    background: #df1f26;
    color: #fff;
    border-radius: 4px 4px 0 0
}

.panel-heading h4 {
    font-weight: 600
}

.list-group-item {
    background: 0 0;
    padding: 8px 1rem !important;
    font-weight: 600
}

.list-group-item .fa-check:before {
    color: #df1f26;
    margin-right: 5px
}

.panel-body {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 570px;
    padding: 5px !important;
    margin-top: 10px;
    border-radius: 0 0 4px 4px
}

.panel-pricing .panel-heading {
    padding: 20px 10px;
    margin-bottom: 30px
}

.panel-pricing .list-group-item {
    color: #fff;
    border: 0;
    margin-bottom: 10px
}

.panel-pricing .panel-body {
    background-color: transparent;
    padding: 20px;
    margin: 0
}

.pattern-bgsection {
    background-image: url(assets/images/website-img/black-pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #252728;
    padding: 50px 20px;
    min-height: 400px
}

.big-text-section h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    font-family: 'open sans', sans-serif
}

p.rating-star,
span.rating-star {
    color: #df1f26;
    margin-bottom: 5px
}

.testimonials-inner {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    box-shadow: none;
    border-radius: 4px;
    overflow: hidden;
    transition: box-shadow .1s ease-in-out;
    /*margin-bottom: 26px;*/
    margin: 64px auto;
}

.userouter-img {
    position: relative;
    z-index: 1;
    width: 250px;
    height: 250px;
    max-width: 250px;
    max-height: 250px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center
}

.userImage {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    flex-shrink: 0;
    background: #1f1f1f;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #df1f26;
    box-shadow: 0 0 0 21px #2f1818
}

.userText {
    margin: 0 20px;
    width: 100%;
    color: #fff
}

.userText h4 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 20px
}

.userText p {
    line-height: 27px;
    font-weight: 400;
    letter-spacing: .5px;
    font-family: "open sans", sans-serif;
    font-size: 16px
}

.Testimonials-container {
    max-width: 840px;
    margin: 0 auto
}

.review-modal .modal-content {
    background-color: #1c1c24;
    border-radius: 10px
}

.review-modal .modal-header {
    padding: 15px 15px 0 15px;
    border: 0 !important
}

.review-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600
}

.review-modal .modal-body {
    padding: 0
}

.review-modal .contactus-form .forminput-one,
.review-modal .contactus-form textarea {
    background: #33333a
}

.rating-txt {
    color: #fff;
    margin: 10px 0
}

.rating-txt>span {
    margin-bottom: 8px;
    display: block
}

.review-modal .contact-sendbtn {
    padding: 10px 35px;
    font-size: 16px
}

.opensans,
.opensans * {
    font-family: "Open Sans", sans-serif
}

.watch-videopopup .modal-dialog {
    max-width: 800px !important;
    background: #1c1c24 !important
}

/*
.watch-videopopup iframe {
    width: 100%;
    height: 70vh
}
*/

.watch-videopopup .modal-body {
    padding: 0 !important;
    height: 70vh
}

.btn-close {
    float: right;
    width: 25px;
    position: absolute;
    right: 0;
    z-index: 5;
    font-size: 30px
}

.mobile-home-img img,
.trainee-imgone img,
.watch-listimg img {
    width: 75%
}

.watch-img img {
    width: 85%
}

.traiermoney-img img {
    width: 68%
}

.mobile-home-img,
.traiermoney-img,
.trainee-imgone,
.trainer-imgone,
.watch-img,
.watch-listimg img {
    text-align: center
}

.trainer-imgone img {
    width: 85%
}

.intl-tel-input input {
    color: #fff !important
}

.intl-tel-input ::-webkit-input-placeholder {
    color: #fff
}

.intl-tel-input :-ms-input-placeholder {
    color: #fff
}

.intl-tel-input ::-moz-placeholder {
    color: #fff
}

.intl-tel-input ::-ms-input-placeholder {
    color: #fff
}

.intl-tel-input ::placeholder {
    color: #fff
}

.intl-tel-input .form-control:focus {
    background: #ffffff08 !important
}

.form-field button:hover {
    border: 1px solid #fff
}

.form-field button:focus {
    background: #fff;
    color: #0e0e12
}

.intl-tel-input .selected-flag .iti-arrow {
    border-top: 4px solid #fff !important
}

.forsubhead .tranier-session p {
    width: 30%
}

img.placeholderimgblog {
    background: #000;
    padding: 10px;
    -o-object-fit: contain !important;
    object-fit: contain !important
}

#watchvideo button.close {
    color: #fff
}

.max-width-section-800 {
    max-width: 800px;
    margin: 0 auto
}

header {
    width: 100%;
    display: inline-table;
    background: #0e0e12;
    position: fixed;
    top: 50px;
    min-height: 55px;
    box-sizing: border-box;
    padding: 10px 22px 0 32px;
    z-index: 9999;
    opacity: .9
}

header ul li {
    float: left;
    margin: 0 1.2rem 0 1.2rem
}

header ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    font-family: 'open sans';
    text-decoration: none;
    line-height: 25px
}

.logo {
    float: left;
    padding-top: 1px
}

.menu {
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem
}

.login a {
    border: 1px solid #df1f26;
    border-radius: 3px;
    width: 85px;
    height: 30px;
    color: #df1f26;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center
}

.menu li.login {
    position: relative;
    top: -4px
}

.menu li.login a:hover {
    background: #e6130b;
    border: 1px solid #fff;
    color: #fff
}

.heroContainer {
    position: relative;
    height: calc(100vh - 0px);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 105px;
    padding-bottom: 67px;
}

@media (orientation: portrait) {
    .heroContainer {
        position: relative;
        height: calc(100vh - 105px);
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        overflow: hidden;
        box-sizing: border-box;
        margin-top: 105px;
        padding-bottom: 67px;
    }

    .heroContainer .home-signup {
        padding-top: 20vh;
    }
}


.heroContainer .heroVideo {
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
}


.heroContainer::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    opacity: 0.1;
    overflow: hidden;
}

.contact-link .form-field input {
    width: 73%
}

.menu .submenu {
    position: absolute;
    background: #0e0e12;
    padding: .5rem 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    top: 57px;
    min-width: 160px
}

.menu .submenu li {
    float: none;
    margin: 0
}

.menu .submenu li a {
    font-weight: 400;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    display: block;
    padding: 4px 20px
}

.inner-page .heroContainer {
    /*height: 100vh;*/
    z-index: 2;
    overflow: hidden;
}

.inner-page .heroContainer .heroVideo {

    overflow: hidden;
}

.pricingsection {
    display: table;
    margin: 100px auto 30px;
    width: 80%
}

.pricing-pannel {
    width: 30%;
    float: left;
    margin-right: 2rem;
    margin-bottom: 1rem
}

.panel-heading h4 {
    font-weight: 700;
    font-family: 'open sans', sans-serif;
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center
}

.panel-heading p {
    font-weight: 400;
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center
}

.tick-price {
    background: url(../images/tick-price.svg) no-repeat left 5px;
    padding: 5px 0 5px 35px !important
}

.pattern-bgsection {
    background-image: url(../images/black-pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #252728;
    padding: 50px 20px;
    min-height: 250px
}

.big-text-section h2 {
    font-size: 2.5rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 50px
}

.modal {
    display: none
}

.our-story-page {
    position: relative;
    top: 50px;
    width: 70%;
    display: table;
    margin: 90px auto
}

.our-story-page h3 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'open sans', sans-serif
}

.our-story-page p {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: 'open sans', sans-serif;
    margin-bottom: 30px;
    line-height: 26px
}

.testimonials-section {
    position: relative;
    top: 100px;
    padding-bottom: 180px
}

.blog-section {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 64px 16px 64px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 1rem;
    align-items: stretch;
    overflow: hidden;
    box-sizing: border-box;
}

@media (max-width:700px) {
    .blog-section {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

.blog-view {
    min-height: 525px;
    background: #1c1c24;
    width: 100%;
    border-radius: 4px;
    box-sizing: border-box;
}

.blog-top {
    padding: 12px;
    box-sizing: border-box;
}

.blog-top img {
    width: 38px;
    height: 38px;
    border-radius: 100%
}

.blog-top span {
    color: #737373;
    font-size: 12px;
    font-family: 'open sans', sans-serif;
    font-weight: 400
}

.blog-top h1 {
    font-size: 16px;
    color: #e10600;
    font-weight: 600;
    font-family: 'open sans', sans-serif;
}

.blog-center img {
    -o-object-fit: cover;
    object-fit: cover
}

.blog-center h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    font-family: 'open sans', sans-serif;
    margin-bottom: 10px;
    min-height: 25px;
    max-height: 25px;
    align-items: center;
    display: flex;
    padding: 8px 8px 0px 8px;

}

.blog-center p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-family: 'open sans', sans-serif;
    /*max-height: 95px;
    overflow-y: auto; */
    min-height: 95px;
    line-height: 25px;
    overflow: hidden;
    padding: 5px 8px 5px 8px;
}

.blog-center .width-100 {
    padding: 10px 8px;
    box-sizing: border-box
}

.right-5 {
    position: relative;
    right: 5rem;
    max-width: 80%
}

.pad-left-3 {
    padding-left: 3rem
}

.trending-box .bg-image {
    width: 100%;
    height: 235px;
    border-radius: 5px;
    -webkit-filter: blur(17px);
    filter: blur(17px)
}

.trending-block-view img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid #e10600;
    -o-object-fit: cover;
    object-fit: cover;
}

.trending-block-view img.left-align {
    margin: 0 -10px 0 0
}

.trending-block-view img.right-align {
    margin: 0 0 0 -10px
}

.trending-block {
    position: absolute;
    top: 30px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center
}

.time-stamp {
    background: #000000b0;
    color: #fff;
    padding: 5px 7px;
    border-radius: 4px;
    font-size: 15px;
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 1;
    font-family: Regular
}

.tittle-session {
    background: #00000082;
    width: 100%;
    left: 0;
    padding: 5px 0 5px 10px;
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    text-align: left
}

.tittle-session h1 {
    font-size: 20px;
    font-family: Hbold;
    color: #fff;
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 23px;
    text-align: left
}

.tittle-session h2 {
    font-size: 13px;
    font-family: Regular;
    text-align: left;
    color: #fff;
    margin-bottom: 3px
}

.banner-tittle {
    position: absolute;
    z-index: 9;
    text-align: center;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding-bottom: 163px;
}

.banner-tittle h1 {
    font-size: 38px;
    font-weight: 700;
    font-family: 'open sans', sans-serif;
    color: #fff;
    margin-bottom: 10px
}

.banner-tittle h2 {
    font-size: 24px;
    font-weight: 400;
    font-family: 'open sans', sans-serif;
    color: #fff
}

.primary-btn {
    width: 200px;
    height: 56px;
    font-size: 20px !important;
    font-weight: 400;
    font-family: Hbold;
    color: #fff;
    margin-right: 10px;
    border-radius: 3px;
    background: #df1f26;
    border: 0;
    cursor: pointer
}

.second-primary-btn {
    width: 200px;
    height: 56px;
    font-size: 20px !important;
    font-weight: 400;
    font-family: Hbold;
    margin-right: 10px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    background: none;
    border: 1px solid #df1f26;
    color: #df1f26;
}

.second-primary-btn:hover {
    color: #fff;
    background: #df1f26;
    border: 1px solid #df1f26;
}




.terms-container {
    max-width: 800px;
    margin: 100px auto;
    color: #fff
}

.terms-container p {
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    color: #fff;
    line-height: 27px;
    margin-bottom: 1rem
}

.terms-container a {
    color: #e6130b
}

.terms-container li {
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: "Open Sans", sans-serif
}

address {
    font-style: normal;
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.75rem;
    font-family: "Open Sans", sans-serif
}

.half-view-left {
    width: 47%;
    float: left
}

.half-view-right {
    width: 47%;
    float: right
}

.chat-group {
    position: relative;
    top: -6px
}

.community-section,
.tranier-payment-session {
    padding-bottom: 0;
    /*border-bottom: 50px solid #fff*/
}

.home-top-40 {
    border-top: 40px solid #fff
}

.modal-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #00000096;
    position: fixed;
    top: 0;
    z-index: 9999;
    bottom: 0
}

.modal-popup {
    background: #1c1c24;
    display: inline-table;
    margin: auto;
    max-width: 450px;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    z-index: 9999
}

.close-btn {
    background: url(../images/close.svg) no-repeat left center;
    width: 24px;
    height: 24px;
    border: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    text-indent: -999em;
    cursor: pointer;
    opacity: 0.5;
}

.modal-head h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'open sans', sans-serif;
    color: #fff
}

.modal-body .form-field,
.modal-body textarea {
    background: #33333a;
    height: 45px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    border: 0;
    margin-bottom: 16px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #fff;
    transition: .2s
}

.modal-body textarea {
    min-height: 120px;
    resize: vertical
}

.star-rating ul li {
    float: left
}

.star-rating ul li a {
    width: 24px;
    height: 24px;
    text-indent: -999em;
    display: block
}

.star-rating ul li a.full-star {
    background: url(../images/full-star.svg) no-repeat left center
}

.star-rating ul li a.half-star {
    background: url(../images/half-star.svg) no-repeat left center
}

.star-rating ul li a.empty-star {
    background: url(../images/empty-star.svg) no-repeat left center
}

.align-center {
    display: block;
    text-align: center;
    margin: 0 auto
}

.star-rating h4 {
    font-size: 14px;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    color: #fff
}

.modal-backdrop {
    display: none
}

.modal-backdrop.model-open {
    display: block
}

.modal-popup .primary-btn {
    width: 175px
}

.model-open {
    overflow-y: hidden
}

.trainee-workout {
    position: relative;
    top: -6px
}

.pricing-mobile-view {
    display: none
}

.redclr-border:hover {
    border: 1px solid #fff !important;
    color: #fff !important;
    background: #e10600 !important
}

.watch-video-popup .modal-popup {
    padding: 16px auto;
}

.watch-video {
    position: relative;
    margin: 16px auto 0 auto;
}

.watch-video-popup .modal-popup .watch-video iframe {
    width: 85vw;
    height: calc((85vw * 169) / 320);

}

.error {
    display: none
}

.bor-rad-20 {
    border-radius: 15px 15px 0 0
}

.footer-version {
    font-size: 14px;
    padding: 5px;
    box-sizing: border-box;
    color: #fff;
    font-family: 'open sans', sans-serif;
    font-weight: 700;
    position: fixed;
    bottom: 5px;
    left: 10px;
    background: #000;
    border-radius: 5px;
    display: none
}

#loading-image {
    display: table;
    margin: 0 auto;
    max-height: 72px;
    max-width: 72px
}

.ajax-error {
    margin-bottom: 24px;
    text-align: center;
    color: red
}

.trending-block-view {
    display: inline-table
}

.text-string {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 50px;
    font-weight: 700;
    color: #e10600;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    float: right
}

.text-string.black-red-crl {
    background: #000;
    border: 2px solid #e10600
}

.hide {
    display: none
}

.blog-details .blog-view {
    max-width: 600px;
    width: 100%;


}

.blog-details .blog-center p {
    min-height: initial;
    max-height: initial;
}

.no_more {
    display: none
}

.blog_loading_img {
    margin-bottom: 72px !important
}

.blog-post-wrapper {
    margin: auto;
    padding: 64px 16px;
    width: 100%;
    max-width: 850px;
}

/* .login:hover::after, */
.cmg-soon:hover::after,
.getplanbtn:hover::after {
    /* content: 'Coming Soon...';
    background: #e6130b;
    color: #fff;
    font-size: 15px;
    border-radius: 2px;
    padding: .9rem 1rem;
    font-family: 'open sans', sans-serif;
    width: 145px;
    position: absolute;
    top: 45px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    z-index: 999;
    border-radius: 2px */
}

.header-top p a:hover::after {
    padding: .7rem 1rem;
    width: 165px;
    top: -10px;
    right: -175px;
}

.getplanbtn:hover::after {
    width: 175px;
    right: 0px;
}

.cmg-soon:hover::after {
    top: 60px;
    right: 0;
    width: 170px;
}

.getplanbtn {
    position: relative;
}

.Linux .heroContainer .heroVideo {
    height: 11vh;
}

.Linux .inner-page .heroContainer {
    overflow: hidden;
}

.blog-details-view {
    padding: 0;
    overflow-y: auto;
}

.heroVideo.landscape {
    display: block;
}

.heroVideo.portrait {
    display: none;
}

@media(max-width: 800px) {
    .heroVideo.landscape {
        display: none;
    }

    .heroVideo.portrait {
        display: block;
    }
}

.modal-backdrop,
.modal-backdrop-prelaunch,
.modal-backdrop-prelaunch-two {
    display: none
}

.modal-backdrop.model-open,
.modal-backdrop-prelaunch.model-open,
.modal-backdrop-prelaunch-two.model-open {
    display: block
}

.modal-container p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'open sans';
    line-height: 26px;
    text-align: left;
}

.modal-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #00000096;
    position: fixed;
    top: 0;
    z-index: 9999;
    bottom: 0
}

.modal-popup {
    background: #1c1c24;
    display: inline-table;
    margin: auto;
    max-width: 450px;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    z-index: 9999
}

.modal-popup .primary-btn {
    width: 175px
}

.review-modal .modal-header {
    padding: 15px 15px 0 15px;
    border: 0 !important
}

.modal-head h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'open sans', sans-serif;
    color: #fff
}

.modal-body .form-field,
.modal-body textarea,
.select-box select {
    background: #33333a;
    height: 45px;
    border-radius: 4px;
    font-size: 16px !important;
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    border: 0;
    margin-bottom: 0px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    color: #fff !important;
    transition: .2s
}

.modal-body textarea {
    min-height: 120px;
    resize: vertical
}

#newModalForm .error {
    color: #f00;
    font-size: 12px;
}

#newModalForm .multi-select-check-box .error {
    display: inline !important;
}

#newModalForm #personas-error {
    display: inline !important;
}

/****  floating-Lable style start ****/
.floating-label {
    position: relative;
    margin-bottom: 16px;
}

.floating-input,
.floating-select {
    font-size: 14px;
    padding: 4px 4px;
    display: block;
    width: 100%;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
}

.floating-input:focus,
.floating-select:focus {
    outline: none;
    /* border-bottom: 2px solid #5264AE; */
}

.floading-label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 17px;
    top: 13px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.floating-input:focus~label,
.floating-input:not(:placeholder-shown)~label {
    top: -3px;
    color: #E6130E;
    left: 14px;
    font-size: 13px;
    font-family: 'open sans', sans-serif;
    font-weight: 500;
}

.floating-select:focus~label,
.floating-select:not([value=""]):valid~label {
    top: -3px;
    color: #E6130E;
    left: 14px;
    font-size: 15px;
    font-family: 'open sans', sans-serif;
    font-weight: 500;
}

/* active state */
.floating-input:focus~.bar:before,
.floating-input:focus~.bar:after,
.floating-select:focus~.bar:before,
.floating-select:focus~.bar:after {
    width: 50%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.floating-textarea {
    min-height: 30px;
    max-height: 260px;
    overflow: hidden;
    overflow-x: hidden;
}

/* highlighter */
/* .highlight {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 15%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
} */

/* active state */
.floating-input:focus~.highlight,
.floating-select:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
    from {
        background: #33333a;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #33333a;
    }

    to {
        width: 0;
        background: transparent;
    }
}

/****  floating-Lable style end ****/

.select-box select {
    padding: 0px 0px 0px 15px;
    height: 90px;
}

.select-box .floading-label {
    top: 3px;
}

#newModalForm .error {
    color: #f00;
    font-size: 12px;
}

.multi-select-check-box {
    padding: 20px 15px 0px 12px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    background: #33333a;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color: #fff !important;
    transition: .2s;
}

.multi-select-check-box label {
    color: #fff;
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

.show-container {
    display: block !important;
}

#newModalForm .multi-select-check-box .error {
    display: inline !important;
}

#newModalForm #personas-error {
    display: inline !important;
}

.error-phone {
    display: inline !important;
}

.intl-tel-input.allow-dropdown {
    width: 100%;
}

.left-50 {
    left: 50px;
}

.intl-tel-input .country-list .country {
    position: relative;
}

.intl-tel-input.separate-dial-code .selected-dial-code {
    color: #fff;
}

.intl-tel-input .selected-flag {
    height: 45px !important;
}

/* tooltip */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #df1f26;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: -30px;
    margin-left: 0;
    opacity: 0;
    /* transition: opacity 0.3s; */
    text-indent: 0;

}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #df1f26 transparent transparent transparent;
}

.tooltip.viewtool:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.calender-flow-img {
    text-align: center;
    line-height: 0px;
}

.calender-flow-img img {

    max-width: 100%;
    width: 60%;
    display: inline-block;
    margin: 10px 0px 0px;
}

#textpuff-widget {
    /* border: 1px solid white; */
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.10);
}

#textpuff-widget .text-center form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

input.tp-tel-inp {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background: none;
    outline: none;
    min-height: 50px;
    min-width: 100%;
    margin: 0 50px 0 50px;
    padding: 0 50px 0 50px;
    border-radius: 4px
}

#textpuff-widget .text-center p {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    z-index: -100;
}

button#textpuff-click-to-send-btn {
    background: black;
    color: white;
    font-size: 1rem;
    /* font-weight: bold; */
    text-transform: capitalize;
}

.intl-tel-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

.button-global-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.main-header {
    margin: 0px;
    background: #0e0d12;
    padding: 13px 20px 7px 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    min-height: 78px;
}

.logo-main {
    background: url(../images/logo.svg) no-repeat left center;
    width: 120px;
    height: 50px;
    display: block;
    text-indent: -999em;
    position: relative;
    left: 0px;
    margin: auto;
}

login .font-bold {
    font-weight: bolder !important;
}

.mobileapp_storeicon {
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0px 1rem;
}

.mobileapp_storeicon .app-store img {
    /* height: 20px !important; */
    margin-right: 0px !important;
}

.paypal-button>form>* {
    color: white !important;
}

.paypal-buttons>form>* {
    color: white !important;
}

.paypal-buttons-context-iframe>form>* {
    color: white !important;
}

.paypal-buttons-label-paypal>form>* {
    color: white !important;
}

.paypal-buttons-layout-vertical>form>* {
    color: white !important;
}

/* App view based on mobile or web */

.src-component-launcher-WidgetLauncher-wrapper {
    display: none;
}

.download-app[data-is-mobile="false"] {
    display: none;
}

.download-app[data-is-mobile="true"] {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #1C1C24;
    z-index: 10000;
}

.badge-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    max-width: 400px;
}

.app-badge,
.app-badge>img {
    height: 35px;
    width: auto;
    padding: 0;
    margin: 5px 0px 0px 5px;

}

.home-signup .app-badge,
.home-signup .app-badge>img {
    width: 120px;
    margin: 0px;
    margin-bottom: 5px;
    position: unset;
}

.download-app[data-is-mobile="true"].appinstall-view .top-banner img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    position: fixed;
    top: 0;
}

.appinstall-details {
    background: #1C1C24;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
}

.bottom-logo {
    text-align: center;
    padding: 10px 0px 0px 0px;
}

.bottom-logo img {
    margin-bottom: 10px;
}

.bottom-logo p {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}

.bottom-app {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.appinstall-view {
    display: none;
}

.download-app[data-is-mobile="true"].appinstall-view {
    display: block;
    overflow: hidden;
}

/* ! App view based on mobile or web */